body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eaeaea;

    display: grid;
    grid-template-rows: 100px auto 100px;

    margin: 0;
    height: 100vh;
}

header
{
    grid-row: 1;
}

main
{
    grid-row: 2;
    padding: 25px;
}

footer
{
    grid-row: 3;
}

.headers
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFDAB9;
}